ul {
    list-style-type: none;
}

#one {
    background-color: blue;
    border: 3px solid #333;
}

#two {
    background-color: yellow;
    border: 3px solid #333;
}

#three {
    background-color: red;
    border: 3px solid #333;
}

#four {
    background-color: white;
    border: 3px solid #333;
}

#five {
    background-color: yellow;
    border: 3px solid #333;
}

#six {
    background-color: white;
    border: 3px solid #333;
}

#seven {
    background-color: red;
    border: 3px solid #333;
}

#eight {
    background-color: yellow;
    border: 3px solid #333;
}

#nine {
    background-color: blue;
    border: 3px solid #333;
}

#ten {
    background-color: white;
    border: 3px solid #333;
}

#eleven {
    background-color: yellow;
    border: 3px solid #333;
}

#twelve {
    background-color: blue;
    border: 3px solid #333;
}

#thirteen {
    background-color: blue;
    border: 3px solid #333;
}

#fourteen {
    background-color: white;
    border: 3px solid #333;
}

#fifteen {
    background-color: yellow;
    border: 3px solid #333;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

li:nth-child(3) {
    grid-row: span 5;
}

li:nth-child(4) {
    grid-row: span 3;
}

li:nth-child(7) {
    grid-row: span 2;
    grid-column: span 2;
}

li:nth-child(10) {
    grid-row: span 3;
    grid-column: span 2;
}

li:nth-child(11) {
    grid-column: span 2;
}