ul {
    list-style-type: none;
}

#one {
    background-color: blue;
    border: 3px solid #333;
}

#two {
    background-color: yellow;
    border: 3px solid #333;
}

#three {
    background-color: red;
    border: 3px solid #333;
}

#four {
    background-color: white;
    border: 3px solid #333;
}

#five {
    background-color: yellow;
    border: 3px solid #333;
}

#six {
    background-color: white;
    border: 3px solid #333;
}

#seven {
    background-color: red;
    border: 3px solid #333;
}

#eight {
    background-color: yellow;
    border: 3px solid #333;
}

#nine {
    background-color: white;
    border: 3px solid #333;
}

#ten {
    background-color: white;
    border: 3px solid #333;
}

#eleven {
    background-color: red;
    border: 3px solid #333;
}

#twelve {
    background-color: blue;
    border: 3px solid #333;
}

#thirteen {
    background-color: blue;
    border: 3px solid #333;
}

#fourteen {
    background-color: white;
    border: 3px solid #333;
}

#fifteen {
    background-color: yellow;
    border: 3px solid #333;
}